extends layout

block content

    div.index-page
        .processes-container
            each p in processes
                .process(class = p.status)
                    .info
                        .title= p.name
                    .actions

                        .main-action
                            if p.status !== 'running' && p.status !== 'pending'
                                i.fa.fa-sync-alt(onclick=`restart(${p.id})`)
                            else
                                i.fa.fa-ban(onclick=`cancel(${p.id})`)


                        .downloads
                            a(href=`/process/downloadLog?id=${p.id}&name=${p.name}`)
                                i.fa.fa-download
                                span  Input
                            a(href=`/process/downloadLog?id=${p.id}&name=${p.name}`)
                                i.fa.fa-download
                                span  Output
                            a(href=`/process/downloadLog?id=${p.id}&name=${p.name}`)
                                i.fa.fa-download
                                span  Log
                    
    
    script.

        // Registering sockets to keep queue up to date
        let socket = io('/queue-progress');
        socket.on('update', (data) => {
            document.getElementById('test').innerHTML += data + '<br>';
        });
        
        // On cancel method
        function cancel(id) {
            fetch('queue/cancel', {
                method: 'post',
                body: JSON.stringify({id: id}),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
            })
            .then((response) => {
                // set item as canceled
            })
            .catch((err) => {
                console.error(err);
            })
        }


    
