extends layout

block content
    .process-page
        .title
            h1= process.name
            .downloads
                a(href=`/process/downloadInput?id=${process.id}&name=${process.name}`)
                    i.fa.fa-download
                    span  Input

                if process.status !== 'running' && process.status !== 'pending' && process.status !== 'canceled'
                    a(href=`/process/downloadLog?id=${process.id}&name=${process.name}`)
                        i.fa.fa-download
                        span  Output

                a(href=`/process/downloadLog?id=${process.id}&name=${process.name}`)
                    i.fa.fa-download
                    span  Log

        ul.logs
            each l in logs
                li(class = l.type)
                    span= l.timestamp
                    | #{l.message}

    script.

        let PROCESS_ID = #{process.id};

        // Registering sockets
        let processSocket = io('/process-progress');

        processSocket.on('appendLog', (p) => {

            console.log(p);

            if (p.id === PROCESS_ID) {

                let logsDiv = document.querySelector('.process-page .logs');

                let li = document.createElement('li');
                li.classList.add(p.log.type);
                li.innerHTML = `<span>${p.log.timestamp}</span> ${p.log.message}`;

                logsDiv.appendChild(li);
            }
        });